<div class="container">
    <h1>Bienvenido</h1>
    <h3>Crea una nueva cuenta para poder entrar al sistema.</h3>

    <div class="form">
        <form class="form" (ngSubmit)="validarFormulario(form)" #form="ngForm">
            <label for="nombre">Nombre de usuario</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="UsuarioEjemplo" [(ngModel)]="usuarioModel.usuario">
            <label for="email">Correo electrónico</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="correo@dominio.com" [(ngModel)]="usuarioModel.email">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="********" [(ngModel)]="usuarioModel.password">
            <button type="submit" class="btn btn-primary">Crear cuenta</button>
            <h6>¿Ya tienes una cuenta?</h6>
            <button class="btn btn-success" [routerLink]="['/login']">Inicia sesión para continuar</button>
        </form>
    </div>
</div>