.banner {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(19, 165, 24);
}

.container {
    .formulario {
        width: 70%;
        height: 450px;
        margin: 0 auto;
        margin-top: 10%;
        border: 1px solid rgb(19, 165, 24);
        border-radius: 5px;
        .contForm {
            width: 55%;
            margin: 0 auto;
            margin-top: 5%;
            label {
                margin-top: 2%;
            }
            h3 {
                text-align: center;
                margin-bottom: 10%;
            }
            .btn {
                margin-top: 2%;
            }
            .btn-danger {
                float: right;
            }
        }
    }
}