.contenedor {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    h2 {
        text-align: center;
        font-weight: bold;
        float: left;
    }
    .btnClosePost {
        float: right;
    }
}

.textAreaPost {
    width: 100%;
}

.btnEmoji {
    width: 55px;
    cursor: pointer;
    margin: 1.5%;
    &:focus {
        outline: 0;
    }
}

.btnOptions {
    width: 25%;
    margin: 1.5%;
}

.btnPost {
    width: 100%;
    margin: 1%;
}
